body {
    margin: 0;
    
    
}

.scoreboard{
    display: flex;
    height: 100px;
    margin-bottom: 20px;
    background: #080001;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 4.5em;
    padding: 10px 8px 0px 8px;
                                                
}
.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    color: #EEEEEE;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
   
}

.increment{
    border: #9AABD8 solid 1px;
    background: #1B244A;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border-radius: 4px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.increment-cont{
    display: flex;
    gap: 3px;
}